header {
  color: #ffffff;
  background: black;
}

.logo img {
  display: block;
  float: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background: black;
  padding: 5px 10px;
  position: relative;
}

nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  padding: 20px 75px;
}
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  float: center;
  list-style: none;
}

nav li {
  float: left;
}

body {
  font-family: sans-serif;
  color: #ffffff;
  background-color: black;
}
#wrapper {
  max-width: 1230;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

main {
  padding: 10px;
}

h2 {
  margin: 0;
  padding: 10px 5px;
  font-size: 18pt;
  line-height: 36pt;
  font-weight: bolder;
}
